.env
.DS_Store
.idea/
*.log
*.tmp
*.bak
frontend/node_modules/
exports/*
!exports/.htaccess
doc/logo/*
doc/produits/*
!doc/*/.gitkeep
justificatifs/*
!justificatifs/.htaccess
doc/utilisateurs/*
doc/categories/*
